<div class="container">
  <form [formGroup]="addForm" (ngSubmit)="addWorkSpace()">
    <h2 class="form-title">Add new workspace</h2>
    
    <div class="form-group">
      <label for="name"> Name <span class="required">*</span></label>
      <input type="text" id="name" formControlName="name" class="form-input" placeholder="Enter workspace name" [class.error]="addForm.get('name')?.touched && addForm.get('name')?.invalid">
      
      <div class="error-text" *ngIf="addForm.get('name')?.touched && addForm.get('name')?.invalid">
        <small *ngIf="addForm.get('name')?.errors?.['required']">❌ Name is required.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" formControlName="description" class="form-input" placeholder="Enter workspace description">
    </div>

    <div *ngIf="serverError" class="alert error-alert">
      {{ serverError }}
    </div>

    <button type="submit" class="btn-submit" [disabled]="addForm.invalid"> Add Workspace </button>
    <button type="button" class="btn-back" routerLink="/workSpaces-list"> ← Back to WorkSpaces List </button>
  </form>
</div>
